body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #9b7176, #cc4457);
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-family: 'Lobster', cursive;
    padding: 10px 20px;
    text-align: center;
}

.intro-screen {
    position: absolute;
    inset: 0;
    background: #ffdde1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    height: 110vh;
}

#startBtn {
    background: none;
    border: none;
    font-size: 60px;
    color: #e6005c;
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.hidden {
    display: none;
}

.content {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box;
}

.player {
    background: #181818;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0px auto 0;
    max-width: 300px;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.cover-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cover-info img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.track-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.track-info strong {
    font-size: 18px;
}

.track-info span {
    font-size: 14px;
    opacity: 0.9;
}

.preview-tag {
    background: #c2185b;
    color: white;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 4px;
    width: fit-content;
    margin-top: 4px;
}

.controls button {
    background: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    color: #ec407a;
    cursor: pointer;
}

.carousel {
    margin-top: 20%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel img.active {
    display: block;
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

@media (max-width: 600px) {
    .carousel img {
        height: 250px;
    }

    .track-info strong {
        font-size: 16px;
    }

    .controls button {
        font-size: 16px;
        padding: 8px;
    }
}

.text {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    box-sizing: border-box;
}

.text p {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 12px;
    padding: 10px 20px;
    line-height: 1.8;
    text-align: justify; /* <-- Isso justifica o texto */
    font-size: 20px;
    font-weight: 200;
    font-family: 'Lobster', cursive;
}


.text h2{
    text-align: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #9b7176;
}

.box {
    background: black;
    padding: 15px 20px;
    border-radius: 8px;
    min-width: 100px;
    align-items: center;
    text-align: center;
}

.box span {
    font-size: 24px;
    font-weight: bold;
    display: block;
    color: white;
}

.box small {
    font-size: 14px;
    color: #ccc;
}
.cor{
    background-color: #9b7176;
}

#heartContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.heart {
    position: relative;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23e60026' d='M471.7 73.1C439.6 40.1 391.1 24 343.4 24c-47.7 0-96.2 16.1-128.3 49.1L256 64l-40.9-8.9C183.1 40.1 134.6 24 86.9 24 39.2 24-9.3 40.1-41.4 73.1-73.5 106.2-89.6 154.6-89.6 202.3c0 47.7 16.1 96.2 49.1 128.3l207.5 207.5c6.2 6.2 16.4 6.2 22.6 0L472.6 330.6c33-32.1 49.1-80.6 49.1-128.3 0-47.7-16.1-96.2-49.1-129.2z'/%3E%3C/svg%3E")
        no-repeat center/contain;
    animation: explode 3s ease-out forwards;
    opacity: 1;
}

@keyframes explode {
    0% {
        transform: scale(0.6) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(1.8) translateY(-250px);
        opacity: 0;
    }
}
